.property-image {
  height: 250px;
  background-size: cover;
  background-position: center;
  @media (min-width: 768px) {
    height: 400px;
  }
}

.property-view .vr {
  height: 120px;
  border-color: rgba(0,0,0,0.1)
}

.pets .vr {
  height: 50px;
  border-style: inset;
  border-top: none;
  border-left: solid 1px;
  margin: 0 1rem;
}

.fa-smoking-ban {
  font-size: 1.25rem;
}

.ban {
  color: #dc3545;
}

.link-text-muted {
  color: rgba(0,0,0,0.5)
}

i {
  margin-right: 8px;
}

.loading {
  height: 100vh;
}

.carousel {
  max-height: 30vh;
}
