.vr {
  height: 20px;
  border-style: inset;
  border-width: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

nav {
  border-bottom: rgba(0,0,0,0.2) solid 1px;
}

footer {
  border-top: rgba(0,0,0,0.2) solid 1px;
}
