//Background Image

.image-div {
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  height: 120%;
  width: 100%;
  padding-bottom: 5%;
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.image-container {
  position: absolute;
  width: 100%;
  height: 83vh;
  overflow: hidden;
}

#background-container {
  height: 83vh;
  position: relative;
}

// General

.content {
  color: #f8f9fa;
  background: linear-gradient( rgba(220, 53, 69, 0.7), rgba(220, 53, 69, 0.7) ), no-repeat center center scroll;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  height: 75vh;
  overflow: hidden;
}

.content-main {
  overflow-y: scroll;
  max-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.info {
  padding-top: 10px;
  position: relative;
  max-height: 80%;
  border: dashed 2px white;
  overflow-y: scroll;
}


.pets .vr {
  height: 50px;
  border-style: inset;
  border-top: none;
  border-left: solid 1px;
  margin-top: 0;
  margin-bottom: 0;
}

i {
  margin-right: 8px;
}

hr {
  border-color: #f8f9fa !important;
}

.link-text {
  color: #f8f9fa
}

.link-text-muted {
  color: rgba(255,255,255,0.7)
}

//Point of Interest

.point_of_interest {
  overflow: hidden;
}

.point_of_interest .image-container {
  height: auto;
  width: auto;
  max-height: 50%;
  max-width: 90%;
  border-radius: 10px;
  overflow: hidden;
}

.point_of_interest img {
  margin: 0 auto auto auto;
  border-radius: 10px;
  /* transition */
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  &:hover {
    transform: scale(1.1);
  }
}
